* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.logo span{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
 vertical-align: top;
}
.circle {
  height: 18px;
  width: 18px;
  background-color: rgb(70, 6, 248);
  border-radius: 50%;
  display: inline-block;
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
to {
  visibility: hidden;
  }
}
